body {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: dimgray;
  color: white;
}

.content {
  flex: 1;
}

.name {
  font-size: 28px;
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
}

.link {
  margin: 0 20px;
}

.link a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.section {
  border-top: 1px solid black;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 375px;
}

.photo {
  background: url('../images/AlexNatural2.jpg') center 30%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 300px;
  width: 50%;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.description p {
  width: 85%;
}

.divider {
  background-color: #444444;
  color: white;
  font-size: 28px;
  font-weight: 400;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 300px;
}

.explanation {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  border-radius: 40px;
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 8px;
}

.explanation p {
  margin: 3px 0;
}

.project .button {
  background-color: black;
  border-radius: 8px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  outline-color: transparent;
  outline-style: none;
  padding: 5px 3px;
  width: 150px;
}

.project .button:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.screenshot {
  display: flex;
  height: 100%;
  width: 50%;
}

.picture {
  background-image: url('../images/Slack_WSU-0096.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: 960px	540px;
  width: 960px;
  height: 540px;
}

.picture2 {
  background-image: url('../images/EscapeRoomStart.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: 960px	540px;
  width: 960px;
  height: 540px;
}

.picture3 {
  background-image: url('../images/Screenshot\ 2016-12-22\ 15.30.42.png');
  background-color: black;
  background-repeat: no-repeat;
  background-size: 500px	500px;
  width: 500px;
  height: 500px;
}

.screenshot img {
  margin: 15px auto;
}

.deedWork {
  justify-content: center;
}